.containers-vehiculos {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.container-vehiculo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    border-radius: 20px;
    border: solid 1px black;
}

.container-vehiculo span {
    font-size: 20px;
    font-weight: bold;
}

.img-landing {
    width: 100%;
}

.img-modal {
    width: 100%;
}

.container-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 60%;
    margin: auto;
    margin-top: 60px;
    min-height: 120px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.container-login span {
    font-size: 40px;
    margin-bottom: 10px;
}

.container-login button {
    width: 40%;
    margin-bottom: 20px;
}

.consultas {
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
}

.consultas span {
    font-size: 1.5em;
    font-weight: bold;
}

.consultas2 {
    width: 95vw;
    margin: auto;
    margin-top: 5vh;
}

.consultas2 span {
    font-size: 1.5em;
    font-weight: bold;
}

textarea {
    resize: none;
}

.consultas-3 {
    margin-top: 40px;
}

.consultas-3 span {
    font-size: 1.5em;
    font-weight: bold;
}

.container-chat {
    width: 80vw;
    margin: auto;
    background-color: #dddddd;
    padding: 40px;
    margin-top: 40px;
    height: 60vh;
    overflow: auto;
    border: solid 1px black;
    border-radius: 20px;
}

.container-input {
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container-input input {
    width: 80%;
    border: solid 1px black;
}